<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>El Sáman | Terneras</title>
    <link rel="icon" type="image/png" href="/imagenes/icono2.ico" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css" integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/brands.css" integrity="sha384-Pln/erVatVEIIVh7sfyudOXs5oajCSHg7l5e2Me02e3TklmDuKEhQ8resTIwyI+w"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css" integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf"
        crossorigin="anonymous">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/estilos/multirange.css">
    <link rel="stylesheet" href="/estilos/style.css">
</head>

<body>
    <div class="container">
        </br>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                            <span class="sr-only">Menú</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a href="/" class="navbar-brand">
                            <img alt="El Saman" src="/imagenes/logo.png">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right" id="navbar-1">
                        <ul class="nav navbar-nav">
                            <li class="principal">
                                <a href="/nosotros">NOSOTROS</a>
                            </li>
                            <li class="dropwdown principal">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">SERVICIOS
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu secundario">
                                    <li>
                                        <a href="/servicios/ventadeganado">Venta de Ganado</a>
                                    </li>
                                    <li>
                                        <a href="/servicios/asesoriatecnica">Asesoría Técnica</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown principal active">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"> GÉNETICA
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu secundario">
                                    <li>
                                        <a href="/genetica/embriones">Embriones</a>
                                    </li>
                                    <li>
                                        <a href="/genetica/terneras">Terneras</a>
                                    </li>
                                    <li>
                                        <a href="/genetica/novillas">Novillas</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="principal">
                                <a href="/contacto">CONTACTO</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>



    <section class="container-fluid" id="contenido">
        <section id="terneras" class="row">
            <section class="seccion-filtros col-lg-2">

                <!-- Mostrar/Ocultar filtros -->

                <button type="button" id="mostrarfiltro" value="mostrar">Ver Filtros
                    <i class="fas fa-angle-up" id="fle_filtros"></i>
                </button>

                <article id="filtros">
                    <!-- Filtro por tipo -->

                    <button type="button" id="tipo" value="mostrar">Tipo
                        <i class="fas fa-angle-up" id="fle_tipo"></i>
                    </button>
                    <div id="filtro_tipo">

                        <label class="container">Embrión
                            <input type="radio" name="tipo" value="embrion">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Ternera
                            <input type="radio" name="tipo" value="ternera" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Novilla
                            <input type="radio" name="tipo" value="novilla">
                            <span class="checkmark"></span>
                        </label>


                    </div>
                    <!-- Filtro por edad -->
                    <button type="button" id="edad" value="mostrar">Edad
                        <i class="fas fa-angle-up" id="fle_edad"></i>
                    </button>

                    <article id="filtro_edad" class="rango">
                        <div class="slidecontainer">
                            <input type="range" min="0" max="7" value="0" class="slider" id="desde_edad">
                            <input type="range" min="7" max="15" value="15" class="slider" id="hasta_edad">
                        </div>
                        <div class="valores">
                            <div class="valor-text">
                                <p class="text-left">Desde:
                                    <span id="desdeValor_edad"></span>
                                </p>
                            </div>

                            <div class="valor-text">
                                <p class="text-right">Hasta:
                                    <span id="hastaValor_edad"></span>
                                </p>
                            </div>
                        </div>

                        <div class="botones">
                            <button class="filtroRango_edad btn-filtro">Buscar</button>
                            <button class="borrarFiltros_edad btn-filtro">Borrar FIltros</button>
                        </div>

                    </article>
                    <!-- Filtro por precio -->

                    <button type="button" id="precio" value="mostrar">Precio
                        <i class="fas fa-angle-up" id="fle_edad"></i>
                    </button>

                    <article class="rango" id="fle_precio">
                        <div class="slidecontainer">
                            <input type="range" min="0" max="500000" value="0" class="slider" id="desde">
                            <input type="range" min="500000" max="1000000" value="1000000" class="slider" id="hasta">
                        </div>

                        <div class="valores">
                            <div class="valor-text">
                                <p class="text-left">Desde:
                                    <span id="desdeValor"></span>
                                </p>
                            </div>
                            <div class="valor-text">
                                <p class="text-right">Hasta:
                                    <span id="hastaValor"></span>
                                </p>
                            </div>
                        </div>

                        <div class="botones">
                            <button class="filtroRango btn-filtro">Buscar</button>
                            <button class="borrarFiltros btn-filtro">Borrar FIltros</button>
                        </div>

                    </article>

                </article>

            </section>

            <section class="seccion-productos col-lg-10">
                <section class="row">
                    <article class="col-lg-12 filtros-top">

                        <div class="col-lg-4 text-left">
                            <p>
                                <strong>GENÉTICA /</strong> Teneras</p>
                        </div>


                        <!-- Filtro por precio -->
                        <div class="col-lg-4 text-center">
                            <div>
                                <p>Ordenar</p>
                            </div>
                            <div>
                                <select>
                                    <option value="asc">Precio Ascendente</option>
                                    <option value="des">Precio Descendente</option>
                                </select>
                            </div>
                        </div>

                        <!-- Filtro por sexo -->
                        <div class="col-lg-4 text-center">
                            <div>
                                <p>Ver</p>
                            </div>
                            <div>
                                <a href="/genetica/terneras?sexo=Hembra">
                                    <i class="fas fa-mars"></i>
                                </a>
                                <a href="/genetica/terneras?sexo=Macho">
                                    <i class="fas fa-venus"></i>
                                </a>
                            </div>
                        </div>


                    </article>
                    <article class="col-lg-12 productos">
                        <section class="row">
                            {{#each Terneras}}
                            <article data-id="{{this._id}}" class="col-lg-4">
                                <a href="/genetica/terneras/{{_id}}">

                                    <div class="img-info">
                                        <img src="{{imagen}}">
                                    </div>
                                    <div class="flex-container info">
                                        <h1>{{nombre}} {{numero}}</h1>
                                    </div>
                                </a>

                            </article>
                            {{/each}}
                        </section>
                    </article>
                </section>

                <article class="col-lg-9 text-center pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">6</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">7</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">8</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">9</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">10</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </article>
            </section>


        </section>
    </section>
    </section>

    <footer class="containe-fluid">
        <section>
            <div class="sombra">
                <h3>SÍGUENOS EN NUESTRAS REDES SOCIALES</h3>

                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-google-plus-square"></i>
            </div>

            <div class="desarrolladoPor">
                <p> Design by:
                    <a href="https://www.behance.net/IsabellaSandoval" target="_blank">Isabella Sandoval </a> | Development by:
                    <a href="https://www.behance.net/jaime_burb0681" target="_blank">
                        Jaime Burbano</a>
                </p>
            </div>
        </section>

    </footer>

    <script src="/javascript/jquery-3.3.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="/javascript/filtros-terneras.js"></script>
</body>

</html>